.header_title {
    color: var(--color-text-primary);
    font-size: 24px;
  }
  .menu {
    color: var(--color-text-primary) ;
  }
  .menuList {
    background-color: var(--color-purple);
    color: #fff;
  }

  .username {
    color: var(--color-text-primary);
    font-size: 20px;
    font-weight: 700;
    display: flex;
    align-items: center;

    img {
      cursor: pointer;
    }
  }

  .popUp {
    position: absolute;
    z-index: 2;
    top: 100px;
    left: 0px;
  }

  .logout {
    margin-right: 10px;
    cursor: pointer;
  }