.container {
    bottom: 0;
    width: 100vw;
    padding: 30px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.16), 0 0 0 2px rgba(0, 0, 0, 0.08);
    background-color: var(--color-background-primary);
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: space-around;
}

.copyright {
    font-size: 20px;
    color: var(--color-text-primary);
    text-align: center;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;

    span {
    font-size: 20px;
    font-weight: 700;
    color: var(--color-text-primary);
    }
}

.socials {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 10px;

    a {
        text-decoration: none;
        display: flex;
    }

    img {
        cursor: pointer;
        width: 32px;
    }
}

@media (max-width: 450px) {
    .copyright {
        display: none;
    }
    .logo {
        font-size: 24px;
    }
}