.container {
    margin-top: 50px;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.main {
    padding: 30px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.img_container {
    display: flex;
    justify-content: center;
}
.img {
    width: calc(100vw - 70px);
    height: 300px;
    object-fit: cover;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: start;
    color: var(--color-text-primary);

    .date {
        color: var(--color-purple);
        font-weight: 700;
        margin-bottom: 10px;
    }
}

.author {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
    span {
        color: var(--color-text-primary);
        font-size: 20px;
        font-weight: 700;
    }
    .avatar {
        width: 35px;
        height: 35px;
        border-radius: 50%;
        background-color: var(--color-purple);
        display: flex;
        align-items: center;
        justify-content: center;
        
    }
}

.title_tools {
    display: flex;
    gap: 20px;
    align-items: center;
}
.extended {
    margin-top: 20px;
    font-size: 16px;
    height: fit-content;
}

@media(max-width:768px) {
    .content {
        margin-top: 20px;
    }
    .title_tools {
        flex-direction: column-reverse;
    }
}

