.container {
    height: 100%;
}

.content {
    margin: 30px 0;
    width: 100vw;
    height: 100%;
    gap: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    h1 {
        text-align: center;
        font-size: 55px;
        color: var(--color-text-primary);
    }
}

.editor_container {
    position: relative;
    margin-bottom: 10px;

    .label {
        position: absolute;
        z-index: 2;
        padding: 5px 10px;
        background-color: var(--color-purple);
        color: #fff;
        border-radius: 20px;
        top: -20px;
        left: -30px;
    }
}

.chooseCategory {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
}

.categories_container {
    padding: 10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}

.chooseCategory_title {
    color: var(--color-text-primary);
    font-size: 20px;
}

.category {
    padding: 5px 10px;
    background-color: var(--color-purple);
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
}

.selected {
    background-color: var(--color-background-secondary);
    color: var(--color-background-primary);
}

.buttons {
    display: flex;
    align-items: center;
    gap: 15px;
    color: var(--color-text-primary);
}

.editor {
   padding: 30px;
   height: 300px;
   width: 700px;
   border: 1px solid var(--color-text-primary);
   outline: none;
   position: relative;
   color: var(--color-text-primary);
}

::placeholder {
    color: var(--color-text-primary);
    font-size: 18px;
}

.inputs_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    margin-bottom: 30px;
}

.input_container {
    
    position: relative;
    input {
        color: var(--color-text-primary);
    }
    
    .label {
        position: absolute;
        z-index: 2;
        padding: 5px 10px;
        background-color: var(--color-purple);
        color: #fff;
        border-radius: 20px;
        top: -20px;
        left: -30px;
    }
}

.btn {
    padding: 10px 15px;
    background-color: var(--color-background-secondary);
    color: var(--color-background-primary);
    width: 300px;
    border-radius: 10px;
}

.input-text {
    width: 600px;
    padding: 10px;
    border: 1px solid var(--color-text-primary);
    border-radius: 5px;
}

.errorMsg {
    color: red;
    font-weight: 700;
}

@media (max-width: 767px) {
    .input_container {
        
        input {
            width: 80vw;
        }
    }

    .btn {
        width: 80vw;
    }

    .content {
        h1 {
            width: 80vw;
        }
    }

    .editor {
        width: 80vw;
    }
}


@media(max-width: 380px) {
    content {
        margin: 0;
        padding: 100px 0;
    }

    .inputs_container {
        .label {
            left: -10px;
            padding: 2px 5px;
        }
    }

    .editor_container {
        .label {
            left: -10px;
            padding: 2px 5px;
        }
    }
}